<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Challenge</title>
    <link rel="stylesheet" href="/stylesheets/dailychallenge.css" />
  </head>
  <body>
    <div class="daily-challenge">
      <h1 class="daily-challenge-title">Daily Challenge</h1>
      <form id="guessForm" method="post">
        <label for="areaCodeGuess">Guess the Area Code:</label>
        <input type="text" id="areaCodeGuess" name="areaCodeGuess" required>
        <h2 class="location-title">Town, State</h2>
        <button type="submit" class="button go-button">Go!</button>
      </form>
      <!-- <button class="button lives-button">Get More Lives</button> -->
    </div>
  </body>
</html>
