<!DOCTYPE html>
<html>
  <head>
    <title>Landing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/img/logo.png" alt="Contact Conundrum Logo"/>
    <h1>Contact Conundrum</h1>
    <!-- TODO: Rename this if we decide to change naming convention -->
    <a href="/contact-guess">
        <button type="button">Normal Play</button>
    </a>
    <!-- This too -->
    <a href="/daily-challenge">
        <button type="button">Daily Challenge</button>
    </a>
  </body>
</html>
