body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.daily-challenge {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.daily-challenge-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}

.area-code-input {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.area-code-line {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 0 5px;
}

.location-title {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.button {
  display: block;
  width: 60%;
  padding: 15px;
  margin: 20px auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.go-button {
  background-color: #85baf7;
  color: white;
}

.lives-button {
  background-color: #baf785;
  color: white;
}